@font-face {
    font-family: 'Bookmania';
    src: url("@/assets/fonts/bookmania-light.otf") format("opentype");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bookmania';
    src: url("@/assets/fonts/bookmania-light-italic.otf") format("opentype");
    font-display: swap;
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Bookmania';
    src: url("@/assets/fonts/bookmania-regular.otf") format("opentype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bookmania';
    src: url("@/assets/fonts/bookmania-regular-italic.otf") format("opentype");
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Bookmania';
    src: url("@/assets/fonts/bookmania-bold.otf") format("opentype");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bookmania';
    src: url("@/assets/fonts/bookmania-bold-italic.otf") format("opentype");
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Henderson Slab';
    src: url("@/assets/fonts/henderson-slab-regular.otf") format("opentype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Henderson Slab';
    src: url("@/assets/fonts/henderson-slab-regular-italic.otf") format("opentype");
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}