@import "./fonts.css";
@import "./base.css";
@import "./type.css";

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.main > section {
  max-width: var(--site-container-width);
  margin: 0 30px;
  z-index: 1;
}

@media (min-width: 1440px) {
  .main > section {
    margin: 0 auto;
    width: 100%;
  }
}
